.Rproj.user
.Rhistory
.RData
.Ruserdata

# exclude /inputs and /outputs/data except top-level markdown
/inputs/*
!/inputs/*.md
/outputs/data/*
!/outputs/data/*.md
/outputs/models/*
!/outputs/models/*.md
