.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# exclude /inputs and /outputs/data 
/inputs/*
/outputs/*

# exclude archived files
/Modelling/Archived/*

#exclude robustness checks and alternative years
/Analysis/alternative_years/*
/Analysis/pal_robustness/*
/Modelling/alternative_years/*
/Modelling/pal_robustness/*
